@font-face {
    font-family: 'Courier Prime';
    src: url("fonts/courier-prime/CourierPrime-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url("fonts/courier-prime/CourierPrime-Bold.ttf");
    font-weight: bold;
}

body {
    background-color: #3f3f4e;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#landingScreen {
    margin: 0;
    display: flex;
    height: 85vh;
    min-width: 50%;
    float: left;
}

h1 {
    color: white; 
    font-size: 4em;
    font-family: 'Courier Prime';
    font-weight: normal;
}

#aboutTabWindow {
    width: 60%;
    display: flex;
    float:right;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

#aboutTabs {
    height: 10vh;
    display: flex;
    width: 100%;
    margin-top: 5vh;
    margin-right: 2vw;
}

.tab {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    width: 29%;
    height: 100%;
    text-align: center;
    background-color: #2c2c36;
    border-style: none;
    padding: 0;
}

.tab.unselectedTab {
    background-color: #626276;
    border-radius: 15px;
}

.tab.unselectedTab:hover {
    animation-duration: 300ms;
    animation-name: tabGlow;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes tabGlow {
    from {
        filter: brightness(100%);
        border-radius: 15px;
    }
    to {
        filter: brightness(85%);
        border-radius: 15px 15px 0 0;
    }
}

.colorBar {
    width: 100%;
    height: 30%;
    margin: 0;
    position:relative;
}

#skillsTab .colorBar {
    background-color: #83ff7e;
}

#experienceTab .colorBar {
    background-color: #83ff7e;
}

#aboutMeTab .colorBar {
    background-color: #83ff7e;
}

#skillsTab {
    margin-left: 2vw;
    float: left;
}

#experienceTab {
    margin-left: auto;
    margin-right: auto;
}

#aboutMeTab {
    margin-right: 4vw;
    float: right;
}

.tab h1 {
    font-size: 2.3vw;
    margin: 5% 0;
}

#aboutInfoBox {
    height: 75%;
    background-color: #2c2c36;
    margin-right: 2vw;
    padding: 0 3%;
    border-radius: 25px;
    overflow: scroll;
}

#aboutInfoBox div p {
    color: white;
    font-family: 'Courier Prime';
    margin: 5%;
}

#skillsInfoBox {
    display: block;
}

#experienceInfoBox {
    display: none;
}

#aboutMeInfoBox {
    display: none;
}

div.infoCard {
    background-color: #626276;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 3vh;
    width: 48%;
    height: 20%;
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: scroll;
}

.infoCard.left {
    margin-right: 2%;
    float: left;
}

.infoCard.right {
    margin-left: 2%;
    float: right;
}

.infoCard h3 {
    color: white;
    font-family: 'Courier Prime';
    font-size: 150%;
    margin: auto;
    width: 70%;
}

.infoIcon {
    height: 100%;
    max-width: 28%;
    background-color: white;
    overflow: hidden;
}

.infoCard:hover {
    animation-duration: 300ms;
    animation-name: infoCardGlow;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes infoCardGlow {
    from {
        filter: brightness(100%);
    }

    to {
        filter: brightness(85%);
    }
}

#title {
    width: 50%;
    display: flex;
    float: left;
    flex-direction: column;
}

#title h1 {
    text-align: center;
    font-size: 400%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 0;
    font-family: 'Courier Prime';
    font-weight: normal;
    min-width: 100%;
}

#title h2 {
    text-align: center;
    font-size: 250%;
    color: #83ff7e;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    font-family: 'Courier Prime';
    font-weight: normal;
}

#projectsOverview {
    margin: 0;
    background-color: #3f3f4e;
}

#projectsOverviewTitle {
    height: 15vh;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #2c2c36;
}

#projectsOverviewTitle h1 {
    text-align: center;
    display: flex;
    margin: auto;
    vertical-align: middle;
}

#footer {
    height: 10vh;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c36;
    padding-top: 0.6%;
}

#footer p {
    text-align: center;
    display: flex;
    margin: auto;
    vertical-align: middle;
    font-family: 'Courier Prime';
    color: #ffffff;
    font-size: 100%;
}

#footer p a {
    color: #83ff7e;
    margin-top: -20%;
}

#projects {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 5vh;
}

#projects div.right {
    float: right;
    margin-right: 5vw;
}

#projects div.left {
    float: left;
    margin-left: 5vw;
}

#projects div.middle {
    margin-left: auto;
    margin-right: auto;
}

div.projectItem {
    background-color: #2c2c36;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 5vh;
    width: 29vw;
    display: flex;
    flex-direction: column;
}

div.projectItem:hover {
    animation-duration: 300ms;
    animation-name: liftCard;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes liftCard {
    from {
        box-shadow: 0 0 0 0 #2c2c36;
    }

    to {
        box-shadow: 0 0 0 5px #83ff7e;
    }
}

div.projectItem h2 {
    font-size: 3vw;
    margin: 3% auto;
    color: white;
    font-family: 'Courier Prime';
    font-weight: normal;
}

div.projectItem img {
    width: 100%;
}

#infoOverlays {
    margin: 1% auto;
    align-self: center;
    width: 60%;
    height: 95%;
    background-color: #2c2c36;
    box-shadow: 0px 0px 10px 10px #2c2c36;
    border: 5px solid #83ff7e;
    border-radius: 25px;
}

#dimScreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2c2c36b0;
}

#closeInfoOverlay {
    width: 5%;
    float: right;
    margin: 2%;
    margin-right: 3%;
}

#closeInfoOverlay:hover {
    cursor: pointer;
}
