body {
    margin: 0;
    background-color: #ededed;
}

h1, h2, h3, a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pageTag, #returnLink {
    position: absolute;
    margin: 1%;
    color:white;
}

#returnLink {
    right: 0;
    font-size: 1.5em;
    font-weight: bold;
}

#header {
    padding: 5%;
    flex-direction: column;
    min-height: 35vh;
    box-sizing: border-box;
}

#footer {
    padding: 1%;
    width: 100%;
    box-sizing: border-box;
    min-height: 5vh;
}

#header, #footer {
    background-image: url("images/header-img.jpg");
    background-size: cover;
    align-items: center;
    display: flex;
}

#header h1 {
    font-size: 4em;
}

#header h2 {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    color: white;
}

#footer h1 {
    font-size: clamp(0.8em, 1.2vw, 1.5em);
}

#header h1, #footer h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
}

#items {
    padding: 3%;
    display: flex;
    height: 60vh;
    box-sizing: border-box;

    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.card {
    width: 30%;
    flex: 1 1 30%;
    max-width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 1px #aaa;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color: #fff;

    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card img {
    width: 100%;
    margin: 0;
}

.card h1 {
    text-align: left;
    margin: 5%;
    font-size: 2vw;
}

.card:hover {
    animation-duration: 0.3s;
    animation-name: reduceShadow;
    animation-fill-mode: forwards;
}

@keyframes reduceShadow {
    from {box-shadow: 5px 5px 10px 1px #aaa;}
    to {box-shadow: 3px 3px 5px 0px #aaa;}
}

#content {
    width: 60%;
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px #aaa;
    display: block;
    padding: 3%;
    margin: 1% auto;
    box-sizing: border-box;
    min-height: 60vh;

    border-radius: 5px;

    overflow-wrap:break-word;
}

#content p {
    max-width: 100%;
    line-height: 2em;
    font-size: 12pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.tab {
    display: inline-block;
    margin-left: 8%;
}
